[submodule "Redes de computadores/sockets-client-server"]
	path = Redes de computadores/sockets-client-server
	url = https://github.com/Marco-Antonio-Rodrigues/sockets-client-server
[submodule "Computação gráfica/missile-command-3d"]
	path = Computação gráfica/missile-command-3d
	url = https://github.com/Marco-Antonio-Rodrigues/missile-command-3d
[submodule "Computação gráfica/missile-command"]
	path = Computação gráfica/missile-command
	url = https://github.com/Marco-Antonio-Rodrigues/missile-command
[submodule "Linguagens de programação/Projetos-em-Haskell"]
	path = Linguagens de programação/Projetos-em-Haskell
	url = https://github.com/Marco-Antonio-Rodrigues/Projetos-em-Haskell
[submodule "Linguagens de programação/Projetos-em-Prolog"]
	path = Linguagens de programação/Projetos-em-Prolog
	url = https://github.com/Marco-Antonio-Rodrigues/Projetos-em-Prolog
