body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff;
}

h1 {
    color: #333;
}


input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-result {
    display: none;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#weather-result h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#weather-result p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

#weather-result p strong {
    font-weight: bold;
    color: #333;
}


